.cv-container {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: rgba(32, 32, 32, 0.185);
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
}

.cv-info {
    padding: 5px
}
.cv-img {
    width: 199px;
    height: 150px;
    border-radius: 10px;
}

.cv-img1 {
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 10px;
    margin-left:185px;
    margin-top: 15px;
}
.cv-img1:hover {
    width: 29px;
    height: 29px;
    margin-left:180px;
}

.cv-pre{
    position: relative;
    width: 50px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    margin-top: -33px;
    border-bottom-left-radius: 10px;
    margin-left: -5.5px;
    padding-left: 2px;

}


.cv-preco{
    font-weight: bold;
    margin: 0px;
    color:#1FA49C;  
    font-size: 80%;   
}

.cv-quant{
    position: relative;
    width: 50px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    margin-top: -27px;
    border-radius: 5px;
    margin-left: 8.9em;
    padding-left: 2px;

  

}

.cv-quantidade{
    font-weight: bold;
    margin: 0px;
    color:#91209B;  
    font-size: 90%;     
}

.cv-nome {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    margin-top: 5px;
    color:aliceblue;
}


.cv-marca {
    margin: 0px;
    color:aliceblue;
    font-size: 13px;
    text-transform: uppercase;
}

.cv-cor {
    text-align: right;
    color: dimgrey;
    font-size: 13px;
    margin-top: -35px;
}

.cv-tamanho {
    text-align: right;
    color: dimgrey;
    font-size: 13px;
}