
header .containerp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #202024;
  height: 80px;
  width: 100%;

}


header .imagep {
  max-width: 50px;
  max-height:100px;
  margin-left: 5px;
  margin-right: 10px;

}
header .nomepp{
  display: flex;
  flex-direction: row;
  padding-left: 1%;
  height: 80%;
  margin-top: 1%;
 
}
header .nomep {
  display: flex;
  flex-direction: row;
  padding-left: 1%;
  max-height: 50px;
}

header .logo1p {
  color: #1FA49C;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
}

header .logo2p {
  color: #91209B;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
}

header .iconesp {
  display: flex;
  padding-right: 1%;
  flex-direction: row;

}

header .icon1p {
  max-width: 40px;
  margin-right: 1rem;
  margin-top: 15px;
}

header .icon2p{
  max-width: 40px;
  margin-right: 2rem;
}

/*grafico e calendario*/
.containerp{
  height: 100%;
  background-color: #000000;
  display: grid;
  box-sizing: border-box;
}
.containerp .campos{
  display: flex;
  flex-direction: row;
  margin-left: 90px;
  margin-right: 20px;

 
}

