@media screen and (max-width: 722px) {

.visu{ 
    width: 100%;
    height: 100%;
    padding-bottom: 320px;
    
    
}

.visualizar-container{
    display: wrap;
    flex-direction: column;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    width: 400px;
    margin-bottom: 40px;
}
.image{
    display: flex;
    width: 350px;
    max-height: 350px;
    border-radius: 10px;
    align-self: center;
   
}

#visualizar-info{
    display: flex;
    flex-direction: column;
    background-color: #202024;
    margin-left: 0px;
    margin-top: 50px;
    width: 350px;
    max-height: 350px;
    align-self: center;
    
    
}
.visualizar-informa{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding-left: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    margin-bottom: 40px;
   

}
.descri{
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #3b3a3b;
    flex-direction: column;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
    padding-bottom: 40px;
    
}
.Tides{
    align-self: center;
    color: aliceblue;
    margin-bottom: 40px;
    margin-top: 10px;
    
}
.descris{
    color: aliceblue;
    background-color: #202024;
    width: 300px;
    height: 250px;
    align-self: center;
    overflow: hidden;
    padding: 20px;
    -webkit-line-clamp: 4;
   

}

.Tiinfo{
    align-self: center;
    color: aliceblue;
    margin-bottom: 45px;
    margin-top: 10px;
 
}
.infotex{
    color: aliceblue;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 5px;
    text-transform: uppercase;
}



}