@media screen and (max-width: 622px) {
    header .containerl {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #202024;
      height: 80px;
      width: 100wh;
  
    }
  
  
    header .containerl .nomepl .nomel .imagel {
      width: 80%;
      height: 80%;
      margin-left: 5px;
      margin-right: 10px;
      justify-content: center;
      align-self: center;
  
    }
  
    header .containerl .nomepl {
      display: flex;
      flex-direction: row;
      padding-left: 1%;
      height: 80%;
      margin-top: 1%;
  
    }
  
    header .containerl .nomepl .nomel {
      display: flex;
      flex-direction: row;
      padding-left: 1%;
      height: 80%;
  
    }
  
    header .containerl .nomepl .nomel .logo1l {
      color: #1FA49C;
      align-self: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 120%;
      justify-content: center;
    }
  
    header .containerl .nomepl .nomel .logo2l {
      color: #91209B;
      align-self: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 120%;
      justify-content: center;
    }
  
    header .containerl .loginl {
      display: flex;
      flex-direction: row;
      width: 75%;
    }
  
    header .loginl h2 {
      display: flex;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 100%;
      margin-left: 15px;
      align-self: center;
      margin-right: -2%;
  
    }
  
    header .loginl .buttonl {
  
      background: #202024;
      border: 1px solid #1FA49C;
      border-radius: 30px;
      height: 25px;
      width: 110%;
      align-self: center;
      justify-content: center;
    }
  
    header .loginl .buttonl:hover {
      background-color: #91209B;
    }
  
    header .loginl button p {
      justify-content: center;
      color: #1FA49C;
      font-size: 90%;
  
    }
  
  
    /*CORPO*/
    
.part1l {
  display: flex;
  width: 100%;
  height: 80%;
}

.image2l {
  margin-left: 0%;
  margin-top: 0%;
  max-width: 0px;

}

.part1l .logl {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 20%;
  bottom: 10%;
  background: #202024;
  border-radius: 30px;
  align-items: center;
}

.part1l .logl .login1l {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  align-items: center;
  width: 90%;
}

.part1l .logl .login1l .textl {
  display: flex;
  position: absolute;
  align-self: center;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 20px;
  color: #E1E1E6;
  margin-top: 5%;

} 

.part1l .logl .login1l .input1l {
  width: 80%;
  height: 3rem;
  align-self: center;
  flex-direction: row;
  margin-top: 20%;
  background: #121214;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  color: #E1E1E6;
  font-size: 15px;
}

.part1l .logl .login1l .input2l {
  width: 80%;
  height: 3rem;
  align-self: center;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  background: #121214;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  color: #E1E1E6;
  font-size: 15px;
  margin-block-end: 10%;
}

.part1l .logl .buttonl button{
  background: #202024;
  border: 1px solid #1FA49C;
  border-radius: 30px;
  height: 30px;
  width: 174px;
  align-self: center;
  padding-right: 10px;
}

.part1l .logl .buttonl button:hover {
  background-color: #91209B;
}

.part1l .logl .buttonl button p {
  color: #1FA49C;
  align-self: center;

}

    
}